/*
* @Author: l
* @Date:   2017-09-14 08:37:00
* @Last Modified by:   l
* @Last Modified time: 2017-09-14 09:37:46
*/
@font-face {
  font-family: 'iconfont';  /* project id 401018 */
  src: url('http://at.alicdn.com/t/font_401018_vuhpt2v414dq85mi.eot');
  src: url('http://at.alicdn.com/t/font_401018_vuhpt2v414dq85mi.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_401018_vuhpt2v414dq85mi.woff') format('woff'),
  url('http://at.alicdn.com/t/font_401018_vuhpt2v414dq85mi.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_401018_vuhpt2v414dq85mi.svg#iconfont') format('svg');
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
header{
	width: 100%;
	height: .45rem;
	background-color: green;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
}
main{
	position: absolute;
	left: 0;
	right: 0;
	top: .45rem;
	bottom:.0;
	margin: 0 auto;
	background-color: purple;
	z-index: 100;
}
.top-wenzi1{
	width: .47rem;
	height: 100%;
	margin-left: .175rem;
	background-color: yellow;
	float: left;
}
.top-wenzi1 a{
	font-size: .2rem;
	line-height: .45rem;
	text-align: left;
	display: block;
}
.top-wenzi2{
	height: 100%;
	background-color: yellow;
	margin-right: .175rem;
	float: right;
}
.top-wenzi2 h4{
	font-size: .2rem;
	line-height: .45rem;
	text-align: center;
}
header h5{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	font-size: .2rem;
	line-height: .45rem;
	text-align: center;
}
.guojia{
	width: 100%;
	height: .59rem;
	background-color: blue;
	padding-left: .15rem;
	padding-right: .15rem;
	border-bottom: .01rem black solid;
	border-top: .01rem black solid;
}
.guojia h4{
	font-size: .14rem;
	line-height: .59rem;
	float: left;
}
.guojia h5{
	font-size: .14rem;
	line-height: .59rem;
	float: right;
}
.dianhua{
	width: 100%;
	height: .59rem;
	background-color: blue;
	padding-left: .15rem;
	padding-right: .15rem;
	border-bottom: .01rem black solid;
	position: relative;
}
.dianhua h4{
	font-size: .14rem;
	line-height: .59rem;
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	left: .15rem;
	margin: auto;
}
.dianhua-shu{
	width: .01rem;
	height: .35rem;
	background-color: black;
	position: absolute;
	top: 0;
	bottom: 0;
	left: .8rem;
	margin: auto;
}
.dianhua input{
	width: 2rem;
	height: .3rem;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: .7rem;
	margin: auto;
}
.duanxin{
	width: 100%;
	height: .59rem;
	background-color: blue;
	padding-left: .15rem;
	padding-right: .15rem;
	border-bottom: .01rem black solid;
	position: relative;
}
.duanxin input{
	width: 2rem;
	height: .3rem;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: .15rem;
	margin: auto;
}
.duanxin-shu{
	width: .01rem;
	height: .35rem;
	background-color: black;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 1.2rem;
	margin: auto;
}
.duanxin h4{
	font-size: .14rem;
	line-height: .59rem;
	float: right;
	position: absolute;
	top: 0;
	bottom: 0;
	right: .15rem;
	margin: auto;
}
.zhuce{
	width: 3.447rem;
	height: .45rem;
	background-color: blue;
	margin: .15rem .15rem 0 .15rem;
}
.zhuce a{
	font-size: .18rem;
	text-align: center;
	line-height: .45rem;
	display: block;
	color: pink;
}