/*
* @Author: l
* @Date:   2017-09-13 09:11:07
* @Last Modified by:   l
* @Last Modified time: 2017-09-13 11:35:20
*/
@font-face {
  font-family: 'iconfont';  /* project id 401018 */
  src: url('http://at.alicdn.com/t/font_401018_vuhpt2v414dq85mi.eot');
  src: url('http://at.alicdn.com/t/font_401018_vuhpt2v414dq85mi.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_401018_vuhpt2v414dq85mi.woff') format('woff'),
  url('http://at.alicdn.com/t/font_401018_vuhpt2v414dq85mi.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_401018_vuhpt2v414dq85mi.svg#iconfont') format('svg');
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
header{
	width: 100%;
	height: .45rem;
	background-color: green;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
}
main{
	position: absolute;
	left: 0;
	right: 0;
	top: .45rem;
	bottom: .45rem;
	margin: 0 auto;
	background-color: purple;
	z-index: 100;
}
.top-wenzi1{
	width: .47rem;
	height: 100%;
	margin-left: .175rem;
	background-color: yellow;
	float: left;
}
.top-wenzi1 a{
	font-size: .2rem;
	line-height: .45rem;
	text-align: left;
	display: block;
}
.top-wenzi2{
	height: 100%;
	background-color: yellow;
	margin-right: .175rem;
	float: right;
}
.top-wenzi2 h4{
	font-size: .2rem;
	line-height: .45rem;
	text-align: center;
}
header h5{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	font-size: .2rem;
	line-height: .45rem;
	text-align: center;
}
.dianpu{
	width: 100%;
	height: .62rem;
	background-color: blue;
	border-bottom: .01rem black solid;
	border-top: .01rem black solid;
}
.dianpu-list{
	width: 3.45rem;
	height: .26rem;
	background-color: pink;
	margin-left: .18rem;
	margin-top: .17578rem;
}
.dianpu2{
	width: 3.57rem;
	height: 1.05rem;
	background-color: blue;
	margin-left: .18rem;
	position: relative;
}
.dianpu-list1{
	width: 3.398rem;
	height: .7rem;
	background-color: pink;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
.dianpu-xia{
	width: 100%;
	height: .59rem;
	background-color: blue;
	position: fixed;
	bottom: .45rem;
}
.dianpu-list2{
	width: 3.398rem;
	height: .35rem;
	background-color: pink;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
footer{
	width: 100%;
	height: .45rem;
	background-color: green;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 101;
}
.weibu-box{
	width: 25%;
	height: .44rem;
	padding-bottom: .05rem;
	
	float: left;
}
.weibu-tubiao{
	width: .19rem;
	height: .19rem;
	margin: .064rem .374rem .04rem .374rem;
	
}
.weibu-tubiao a{
	font-size: .19rem;
	line-height: .19rem;
	color: pink;
	display: block;
}
.weibu-wenzi{
	width: .838rem;
	height: .12rem;
	margin: 0 auto;
	
}
.weibu-wenzi h4{
	font-size: .12rem;
	text-align: center;
	line-height: .12rem;
}