/*
* @Author: l
* @Date:   2017-09-12 08:53:24
* @Last Modified by:   l
* @Last Modified time: 2017-09-15 17:11:59
*/
@font-face {
  font-family: 'iconfont';  /* project id 401018 */
  src: url('http://at.alicdn.com/t/font_401018_ddndvviqd2ja714i.eot');
  src: url('http://at.alicdn.com/t/font_401018_ddndvviqd2ja714i.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_401018_ddndvviqd2ja714i.woff') format('woff'),
  url('http://at.alicdn.com/t/font_401018_ddndvviqd2ja714i.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_401018_ddndvviqd2ja714i.svg#iconfont') format('svg');
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
header{
	width: 100%;
	height: .45rem;
	background-color: green;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
}
main{
	position: absolute;
	left: 0;
	right: 0;
	top: .45rem;
	bottom: .45rem;
	margin: 0 auto;
	background-color: purple;
	z-index: 100;
}
#liuxin{
	width: 3.752rem;
	height: .36rem;
	background-color: pink;
	border-bottom: .01rem black solid;
}
#liuxin h4{
	font-size: .16rem;
	line-height: .36rem;
	margin-left: .1rem;
}

.liuxin-list{
	width: 25%;
	height: 1.21662rem;
	background-color: yellow;
	border-right: .01rem black solid;
	border-bottom: .01rem black solid;
	float: left;
}
.liuxin-lis1{
	/* width: .9305rem; */
	border-right:0;
}
.img{
	width: .66rem;
	height: .82rem;
	background-color: red;
	margin: 0 auto;
}
.liuxin-list h4{
	font-size: .16rem;
	text-align: center;
	margin-top: .15rem;
}
.top-wenzi1{
	width: .29rem;
	height: .45rem;
	margin-left: .15rem;
	margin-right: .15rem;
	background-color: yellow;
	float: left;
}
.top-wenzi1 a{
	font-size: .29rem;
	line-height: .45rem;
	display: block;
}
.sousuo{
	width: 2.65rem;
	height: .28rem;
	margin-top: .08rem;
	background-color: yellow;
	float: left;
}
.fangdajing{
	width: .15rem;
	height: .15rem;
	background-color: pink;
	margin-top: .07rem;
	margin-left: .2rem;
	float: left;
}
.fangdajing a{
	font-size: .15rem;
	line-height: .15rem;
	display: block;
}
.top-wenzi2{
	width: .49rem;
	height: .28rem;
	margin-top: .075rem;
	background-color: yellow;
	float: right;
}
.top-wenzi2 a{
	font-size: .28rem;
	line-height: .28rem;
	display: block;
	text-align: center;
}
input{
	display: block;
	width: 2.3rem;
	height: .13rem;
	
	padding-right: .075rem;
	padding-left: .275rem;
	padding-top: .075rem;
	margin-top: .08rem;
	float: right;
}
footer{
	width: 100%;
	height: .45rem;
	background-color: green;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 101;
}
.weibu-box{
	width: 25%;
	height: .44rem;
	padding-bottom: .05rem;
	
	float: left;
}
.weibu-tubiao{
	width: .19rem;
	height: .19rem;
	margin: .064rem .374rem .04rem .374rem;
	
}
.weibu-tubiao a{
	font-size: .19rem;
	line-height: .19rem;
	color: pink;
	display: block;
}
.weibu-wenzi{
	width: .838rem;
	height: .12rem;
	margin: 0 auto;
	
}
.weibu-wenzi h4{
	font-size: .12rem;
	text-align: center;
	line-height: .12rem;
}